FORMAT: 1A
HOST: http://private-136e7-giasu.apiary-mock.com

# Giasu API Blueprint

This is API Blueprint for Giasu app.

# API Authentication

To make requests to api, you will need to set an authorization header:

* Basic authentication for public resources:

    <code> Basic-Authorization: Basic {base 64 encoded string of "##apollo2015##" string} </code>
    
* JSON Web Token authentication for protected resources:
    
    <code> Authorization: Bearer {yourtokenhere} </code>

# HTTP Status Codes

When a HTTP request return error, the HTTP status codes should be in follow list:

* **401**: User unauthorized or token expired.
* **404**: Resource is not found.
* **500**: Internal server error. 

# HTTP JSON Response

* Response format

        {
            "error_status": "0 | 1",
            "error_content": "string | json | array of json",
            "result": "string | json | array of json",
            "duration": "timestamp"
        }
    
* with errors:

        {
            "error_status": "1",
            "error_content": {
                "username": [
                    "The username field is required."
                ],
                "password": [
                    "The password field is required."
                ]
            },
            "result": "",
            "duration": "1234"
        }
    
* without errors:

        {
            "error_status": "0",
            "error_content": "",
            "result": {
                "id": 1,
                "username": "pcl"
            },
            "duration": "1234"
        }


## Group User

Resources realted to users in the API.

## Default [/users]

### Get list of user [GET]

+ Response 200 (application/json)

        {
            "error_status": "0",
            "error_content": "",
            "result": [
                {
                    "id": 1,
                    "username": "pcl"
                },
                {
                    "id": 2,
                    "username": "phungnc"
                }
            ],
            "duration": "1234"
        }

### Create new user [POST]

+ Request (application/json)

        {
            "username": "phungnc",
            "email": "phungnc@gmail.com 
        }

+ Response 200 (application/json)

        {
            "error_status": "0",
            "error_content": "",
            "result": {
                "id": 2,
                "username": "phungnc"
            },
            "duration": "1234"
        }

## User [/users/{user_id}]

+ Parameters
    + user_id: 1 (required, number) - ID of user

### Get detail of user [GET]

+ Response 200 (application/json)

        {
            "error_status": "0",
            "error_content": "",
            "result": {
                "id": 1,
                "username": "pcl"
            },
            "duration": "1234"
        }
        
### Edit and user [POST]

+ Request (application/json)

        {
            "username": "phungnc",
            "email": "phungnc@gmail.com 
        }

+ Response 200 (application/json)

        {
            "error_status": "0",
            "error_content": "",
            "result": {
                "id": 2,
                "username": "phungnc"
            },
            "duration": "1234"
        }
        
### Delete an user [DELETE]

+ Response 200 (application/json)

        {
            "error_status": "0",
            "error_content": "",
            "result": "",
            "duration": "1234"
        }
